// @import '~antd/dist/antd.css';
@import "~antd/lib/style/themes/default.less";
@import "~antd/dist/antd.less";
// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.anticon[tabindex] {
	color: white;
}
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
  background-color: @header-color;
}
.ant-layout-header {
  background-color: @header-color !important;
  line-height: 86px;
	padding: 0px 20px 0px 20px;
	height: 86px;
}

.ant-layout-sider {
  background: @sider-color;
}
.container {
  position: relative !important;
}

.ant-dropdown-trigger > .anticon.anticon-down,
.ant-dropdown-link > .anticon.anticon-down,
.ant-dropdown-button > .anticon.anticon-down {
  margin-left: 10px;
}
.ant-menu-item-selected {
  font-weight: 600 !important;
}
#components-grid-demo-flex-align [class~="ant-row"] {
  background: rgba(128, 128, 128, 0.08);
}

.ant-card-body {
  padding: 11px;
}
.ant-menu-title-content:hover {
  font-weight: 600 !important;
}
.ant-layout-sider-children {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    height: 100vh !important;
}

.cardlist {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ant-avatar-lg.ant-avatar-icon {
  background-color: white;
}
.vertical-center {
  padding: 0 !important;
  margin-left: 20 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}
h1.ant-typography,
.ant-typography h1 {
  margin: 0 !important;
  color: white;
  font-weight: 400;
  font-size: 38px;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-typography {
  color: white;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: white !important;
}

.ant-image {
  display: block;
}

// Daerah Penugasan
.ant-table-thead > tr > th {
  background: none;
}

.ant-tabs-ink-bar {
  border-bottom: 3px solid #3366ff;
}

.ant-tabs-tab:hover {
  color: #3366ff;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #3366ff;
}

.ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
	margin: 0;
}

.radiusCardLeft {
  border-radius: 20px 0 0 20px;
}

.radiusCardRight {
  border-radius: 0 20px 20px 0;
}

//GMAPS
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.ant-layout-footer {
	padding: 0 !important;
}

.searchLearning {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 32.5px;
}
.searchTraining {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  border-style: none;
  box-shadow: none;
}

#trheader thead > tr > th {
  background-color: #fafafa !important;
}

.reducepaddinglabel .ant-col-24.ant-form-item-label{
  padding: 0 0 0px !important;
}
.reducepaddinglabel .ant-form-item-label > label{
  font-size: 12.5px !important;
  color: #5C5C60;
}

//calendar
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th {
  background-color: #F5F6FA !important;
  padding: 10px !important;
  font-weight: 600;

}

.steps-content {
  min-height: 200px;
  padding: 16px 10px 20px 10px;
  text-align: center;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: @primary-color !important;
  font-weight: 500;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: @primary-color !important;
  font-weight: 500;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  color: black;
}
.ant-form-item-label > label {

	font-size: 13.5px;
}

.listCardGrey{
  padding:20px;
  border: 2px solid;
  border-color: #F0EDED;
  border-radius: '3px',
}
.listCardGreySmall{
  padding: 0 20px 0 20px;
  margin: 21px 0 21px 0;
  border: 2px solid;
  border-color: #F0EDED;
  border-radius: '3px',
}

.listCardKpiApproval{
  padding:20px;
  border: 2px solid;
  border-color: #F0EDED;
  border-radius: '3px';
  width: 100%
}
.listCardNoBg{
  padding:0;
  width: 100%
}
.listCardSignOff{
  padding:0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin-bottom: 20px;

}

.cardPenilaian {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
}

.ant-collapse-header {
  font-weight: 600;
  font-size: 17px;
}

.ant-alert-with-description .ant-alert-message {
	margin-bottom: 3px;
	font-size: 15px;
}

.CardPerubahanPerilaku{
  padding: 11px;
  border-color: #F0EDED;
  border-radius: '3px',
}

.searchKpi{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 110px;
}

.listCardKpi{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 99%;
}
.listCardKpiInside{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 100%;
  padding: 10px 0 10px 15px;
  background-color: white;
  border-radius: 8px;

}
.cardKpiCollapse {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  width: 100%;
  margin-bottom: 30px;
}

.steps-content {
	padding: 0;
	background-color: white !important;
	border: none;
	border-radius: 0;
}
.ant-page-header {
  margin: 0;
  padding: 0;

}
.ant-page-header-heading-title {
  margin: 0px !important;
  font-family: "Poppins";
  color: #5067AA;
  font-weight: 500;
  font-size: 25px;
  line-height: 32px;

}

